//animation of navigation
@keyframes nav-animation {
    0%{
        
        transform: translateY(-100%);
    }
    100%{
        z-index: ;: 1;
        transform: translateY(0);
    }
}

//animation of text in header
@keyframes text-animation {
    0% {
        transform: translateX(-100%);
    }100%{
        transform: translateX(0);
    }
}

//animation of aroow and button on header
@keyframes show-item-header-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}