@import 'colors';
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #333;
    font-family: 'KoHo', sans-serif;
}

nav{
    text-transform: uppercase;
    background-color: rgb(41, 38, 38);
    .navbar-brand{
        margin-left: 25px;
    }
    .nav-link{
        margin-right: 25px;
    }
    .nav-link,a,i{
       color: $white-color;  
    }
    .nav-link:hover,a:hover{
        color: $pink-color;
    }
 
    .fa-bars{
        padding: 8px; //adding some padding to burger menu, to have more space by clicking it.
    }
    .active{
        color: $pink-color;;

    }
    img{
        height: 55px;
        width: 230px;
    }
}

