@import 'colors';
@import 'animations';
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-padding-top: 82px; //navbar is higher than section h2 about me
    overflow-x: hidden;
}

body{
    position: relative;
    background-color: $white-color;
    font-family: 'KoHo', sans-serif;
    overflow-x: hidden;
}

h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 49px;
}

.unhide{
     animation: nav-animation .5s .2s forwards;
}

.underline{
    margin: 0 auto 30px;
    width: 100px;
    height: 4px;
    background-color: $main-color;
}
//NAVBAR
.navbar{
    text-transform: uppercase;
    background-color: rgb(194, 171, 129);
    z-index: 0;
    .navbar-brand{
        margin-left: -1px;
    }
    .nav-link{
        position: relative;
        margin: 2px;
    }
    .nav-link,a,i{
       color: $white-color;  
    }
    .nav-link:hover,.navbar-brand:hover,a:hover{
        color: $main-color;
    }
    .nav-link::after,
    .nav-link::before{
    position: absolute;
    content: "";
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    opacity: 0;
    transition: all 0.3s;
    }
    .nav-link::before{
        top: 0px;
        transform: translateY(10px);
    }
    .nav-link::after{
        bottom: 0px;
        transform: translateY(-10px);
    }
    .nav-link:hover::after,
    .nav-link:hover::before{
        opacity: 1;
        transform: translateY(0px);
    }
    .fa-bars{
        padding: 12px; //adding some padding to burger menu, to have more space by clicking it.
        font-size: 40px;
    }
    .active{
        color: $main-color;
    }
    img{
        height: 55px;
        width: 230px;
    }
}


//END OF NAVBAR

//HEADER//
header{
    color: $white-color;
    z-index: -11;
    h1{
        text-transform: uppercase;    
        font-size: 21px;
        animation: text-animation 2s ease-in-out;  
    }
    h3{
        font-size: 15px;
        animation: text-animation 2s ease-in;  
    }
    .hero-img{
        position: relative;
        height: 100vh;   
        background: url(../img/headerSmall.jpg);
        // background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; //when we scrool website. the picture is following us
        z-index: 0;
    }
 
    .hero-shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: -10;
    }

    .hero-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;//nadanie heigth żeby text się nam wyśrodkował 
        padding: 50px;
        text-align: center;
        z-index: 5;
    }
    .orange-text{
        color: $main-color;
    }

    .fa-chevron-down{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        font-size: 30px;
        color: $white-color;
    }
}
//END OF HEADER
//BUTTON ON HEADER
// .btn{
//     position: relative;
//     padding: 5px 15px;
//     color: black;
//     background-color: $white-color;
//     border-radius: 6px;
//     border: none;
//     cursor: pointer;
//     overflow: hidden;
//     z-index: 11;

//     .bar{
//         position: absolute;
//         top: 0;
//         width: 15%;
//         height: 100%;
//         background-color: rgb(209, 111, 31);
//         transform: translateY(120%); 
//         z-index: -1;
//         transition: transform .3s;
//     }

//     :nth-child(1){
//         left: 0; 
//         transition-delay: .3s;
//      }
//      :nth-child(2){
//         left: 20%; 
//         transition-delay: .1s;
//      }
//      :nth-child(3){
//         left: 40%; 
//         transition-delay: .2s;
//      }
//      :nth-child(4){
//         left: 60%; 
//      }
//      :nth-child(5){
//         left: 80%; 
//         transition-delay: .3s;
//      }

    
// }

// .btn:hover{
//     color: $white-color;
//     .bar{
//         transform: translateY(0) scale(1.8);
//     }
// }
//END BUTTON ON HEADER
//SECTION ABOUT ME



.aboutme{
    height: 100%;
    .text-about-me{
        p{
            text-align: center;
            margin-top: 15px;            
        }
    }
    .card-img-top{
        border-radius: 5%;
        margin-right: 15px;
    }

    // about me in phone version
    .about-me-phone{
        display: flex;
        width: 1000px;
    
        .card{
            position: relative;
            margin: 10px;
            height: 600px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position:center;
            object-fit: cover;
            text-align: center;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
            overflow: hidden;
        }
    
        button{
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            background: none;
            border: none;
            color:white;
            font-size: 36px;
            text-shadow: 2px 2px 5px rgb(0, 0, 0);     
            cursor: crosshair;   
            z-index: 1;
        }
    
        .text{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 80px 30px;
            background-color: rgba(0,0,0,.85);
            color: white;
            clip-path: circle(0 at 50% 10%);
            transition: clip-path .8s;
        }
    
        h1{
            color: rgb(182, 179, 97);
        }
    
        h2{
            margin-bottom: 30px;
            color: rgb(141, 138, 138);
        }
    
        
        button:hover~.text{
        clip-path: circle(120% at 50% 90%);
        
        }
        .one{
            background-image: url(/img/aboutMePicture.jpg);
        }

    }
}

.interests{
    background-image: $background-color-section;
    // margin-top: 10vh;
    .fas{
        font-size: 30px;
    }
    .aboutme-card-title{
        font-size: 18px;
        text-transform: uppercase;
    }
    .aboutme-card-text{
        font-size: 14px;
        margin-bottom: 50px;
    }
    // .aboutme-hover{
    //     // transition: color .3s; 
    // }
    .aboutme-hover:hover{
        color: $main-color;
    }
}

//EDUCATION
.education{
    text-transform: uppercase;
    // text-align: center;
    
    .card{
        position: relative;
        display: inline-block;
        margin: 40px;
        height: 400px;
        width: 250px;
        perspective: 800px;
        border: none;
        .one {
            background-image: url(/img/up1.jpg);
          
        }
        .two{
            background-image: url(/img/up2.jpg);
        }
        .one,.two{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            transition: .8s;
        }

        .text{
            position: absolute;
            // display: flex;
            // flex-direction: column;
            top: 0;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            border-radius: 15px;
            text-align: center;
            background-image: linear-gradient(315deg,#fee2f8 0%, #dcf8ed 74%);
            opacity: 0;
            transition: .8s;
        }

        h3{
            color: $main-color;
            margin-top: 40px;
            margin-bottom: 20px;
        } 
        
        p{
            font-size: 13px;
            margin: 20px 30px;
        }
        .text-one{
            transform: rotateX(-180deg);
        }
    
        .text-two{
            transform: rotateY(180deg);
        }
    }


    .card:hover .text {
        // transform: rotate(0);
        opacity: 1;
    }
    
    .card:hover .one{
        transform: rotateX(-180deg);
    }
    
    .card:hover .two{
        transform: rotateY(180deg);
    }
    
    .underline-school{
        margin: 0 auto;
        height: 1px;
        width: 80%;
        background-color: $main-color;
        margin-bottom: 15px;
    }
    // .schools-wrap{
    //     justify-content: center;
    // }
    // .scholl{
    //     margin: 20px 10px;
    //     height: 350px;
    //     box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    //     transition: transform .4s;
        
    //     h3{
    //         padding-top: 15px;
    //         text-transform: uppercase;
    //         font-weight: bold;
    //     } 
    //     p{
    //         padding: 15px 25px 25px;
    //     }
    // }

    // .scholl:hover{
    //     transform: scale(1.1);
    // }
}

//SKILLS

.skills{
    background-image: $background-color-section;
    margin-bottom: 25px;
    span{
        color: $main-color;
    }
    .my-skills{
        margin-bottom: 35px;
    }
    p{
        text-align: center;
    }
    .fab{
        font-size: 45px;
        padding-bottom: 55px;
    }
}


//CAROUSEL
//PORFTOFLIO
.portfolio{
    .carousel-item{
        position: relative;      
        height: 600px;
    }   
    .carousel-caption{
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

//CONTACT

.contact{
    background-image: $background-color-section;
    
    .contact-me{
        display: flex;
        align-items: center;

        .contact-item{
            margin: 30px 0;
            h3{
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .fab{
                margin: 20px 10px;
                font-size: 35px; 
            }
            .fa-instagram-square{
                color: #C13584;
            }
            .fa-github-square{
                color: black;
            }
        }   
    }  
}
    
//FOOTER

footer{
    text-align: center;
    background-image: linear-gradient(315deg, #a39d83 0%, #cea9a9 74%);
    .footer-text{
        font-size: 20px;
        margin-bottom: 0; //to be not space bettwen sections
        color: $white-color;
    }
}


//only test





//Media
@media (min-width: 375px){
    nav{
        .navbar-brand{
            margin-left: 0;
        }
    }
    header{
        h1{
            font-size: 28px;
        }
        h3{
            font-size: 20px;
        }
        .btn-outline-light{
            font-size: 16px;
        }
    }
}


@media (min-width: 768px){
    header{
        h1{
            font-size: 35px;
        }
        h3{
            font-size: 22px;
        }
    }
    .aboutme{
        height: 520px;
        .card{
            margin-bottom: 50px;
        }
        .card-text{
            // text-align:justify;
            margin-left: 300px;
        }
    }
}

@media (min-width: 992px) {
    nav{
        height: 84px;
    }

    .aboutme{
        height: 500px;
    }
}